* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.font-open-sans {
  font-family: 'Open Sans', sans-serif;  
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif;  
}

.material-icons {
  margin: 8px;
  cursor: pointer;
}

h1, h2, h3, h4, h5 {
  font-family: 'Open Sans', sans-serif;
}

header {
  box-shadow: 0 2px 5px rgba(0,0,0,.26);
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  position: fixed;
}

header .container {
  background-color: #f50057;
  color: #ffffff;
  padding: 4px 16px;
  vertical-align: middle;
  display: flex;
  justify-content: space-between;
}

header span.title {
  font-size: 20px;
  margin-left: 26px;
  vertical-align: top;
  line-height: 40px
}

button {
  background: transparent center center no-repeat;
  background-size: 24px 24px;
  cursor: pointer;
  border: 0;
  color: inherit;
}

button:focus {
  outline: 0;
}
